@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --primary-100: #F26CF9;
  --primary-90: #F589FA;
  --primary-50: #FCD3FE;
  --primary-40: #FCE2FE;
  --primary-30: #FDEDFE;
  --secondary-110: #1C2346;
  --secondary-100: #37437D;
  --secondary-90: #5562A2;
  --secondary-70: #707DBF;
  --secondary-60: #ABB4DD;
  --secondary-50: #D3DAF9;
  --yellow-100: #FFCA39;
  --yellow-90: #FFEFC3;
  --grey-100: #1E1E20;
  --grey-90: #434345;
  --grey-80: #636365;
  --grey-70: #777779;
  --grey-60: #9F9FA1;
  --grey-50: #C3C3C4;
  --grey-40: #E0E0E1;
  --grey-30: #EDEDED;
  --grey-20: #F7F7F7;
  --grey-10: #FFFFFF;
  --cool-grey-100: #131314;
  --cool-grey-90: #39393D;
  --cool-grey-80: #56565C;
  --cool-grey-70: #72737A;
  --cool-grey-60: #8F8F99;
  --cool-grey-50: #B0B1BD;
  --cool-grey-40: #D1D2E0;
  --cool-grey-30: #DDDEED;
  --cool-grey-20: #E4E5F5;
  --cool-grey-10: #EEEFFF;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--grey-10);
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--grey-100);
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: 1rem;
}
@media (width >= 768px) {
  .center-wrapper {
    padding-left: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.portal-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  gap: 0.7rem;
  min-height: 100vh;
}
@media (width >= 768px) {
  .portal-wrapper {
    grid-template-columns: 4.5rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
    gap: 1rem;
    padding-left: 1rem;
  }
}
@media (width >= 1400px) {
  .portal-wrapper {
    grid-template-columns: 14rem 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}
.btn--small {
  width: 3.5rem;
}
.btn--small-r {
  width: 3.8rem;
}
.btn--small-l {
  width: 4.4rem;
}
.btn--small-lr {
  width: 5.5rem;
}
.btn--medium {
  width: 4.2rem;
}
.btn--medium-r {
  width: 5.1rem;
}
.btn--medium-l {
  width: 5.5rem;
}
.btn--medium-lr {
  width: 6.4rem;
}
.btn--large {
  width: 5rem;
}
.btn--large-r {
  width: 6rem;
}
.btn--large-l {
  width: 6.3rem;
}
.btn--large-lr {
  width: 7.3rem;
}
.btn--primary {
  background-color: var(--primary-100);
  color: var(--grey-10);
}
.btn--secondary {
  background-color: var(--cool-grey-10);
  color: var(--secondary-100);
}
.btn--outline {
  color: var(--grey-30);
  border-color: var(--grey-90);
}
.btn--status {
  background-color: var(--grey-10);
}

.events-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "filter events";
  gap: 2rem;
  position: relative;
}
.events-container .event-status-filter {
  grid-area: filter;
  display: flex;
  gap: 1rem;
}
@media (width >= 768px) {
  .events-container .event-status-filter {
    margin-right: auto;
  }
}

#events-list {
  grid-area: events;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}
#events-list .event-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "sec-1 sec-2" "sec-3 sec-3";
  gap: 1rem;
  height: 13rem;
  background-color: var(--grey-10);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
@media (width >= 768px) {
  #events-list .event-card {
    grid-template-rows: 1fr;
    grid-template-columns: 10rem 3fr 2fr;
    grid-template-areas: "sec-1 sec-2 sec-3";
  }
}
#events-list .event-card .card-section-one {
  grid-area: sec-1;
  margin-right: auto;
  margin-left: 1rem;
}
#events-list .event-card .card-section-one .event-image {
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  background-color: var(--grey-40);
}
@media (width >= 1400px) {
  #events-list .event-card .card-section-one .event-image {
    height: 6rem;
    width: 9rem;
  }
}
@media (width >= 768px) {
  #events-list .event-card .card-section-one {
    display: flex;
    align-items: center;
  }
}
#events-list .event-card .card-section-two {
  grid-area: sec-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
@media (width >= 1400px) {
  #events-list .event-card .card-section-two {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
@media (width >= 1400px) {
  #events-list .event-card .card-section-two .event-info {
    width: 19rem;
  }
}
#events-list .event-card .card-section-two .event-info .event-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (width >= 768px) {
  #events-list .event-card .card-section-two .event-info .event-title {
    font-size: 18px;
  }
}
#events-list .event-card .card-section-two .event-info .event-description {
  display: none;
  font-size: 12px;
  color: var(--grey-70);
}
@media (width >= 1400px) {
  #events-list .event-card .card-section-two .event-info .event-description {
    display: flex;
  }
}
#events-list .event-card .card-section-two .event-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#events-list .event-card .card-section-two .event-details .event-location, #events-list .event-card .card-section-two .event-details .event-date {
  font-size: 12px;
  font-weight: 400;
  color: var(--grey-80);
}
#events-list .event-card .card-section-three {
  grid-area: sec-3;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--grey-30);
  padding-top: 1rem;
}
@media (width >= 768px) {
  #events-list .event-card .card-section-three {
    border-top: none;
  }
}
#events-list .event-card .card-section-three .event-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: var(--cool-grey-10);
  color: var(--primary-100);
  font-size: 20px;
  font-weight: 600;
  margin-left: auto;
}
@media (width >= 1400px) {
  #events-list .event-card .card-section-three .event-price {
    width: 4.5rem;
    height: 3rem;
  }
}

.event-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-details-container .event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21rem;
}
@media (width >= 768px) {
  .event-details-container .event-details {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "image image" "details tickets" "description description";
    max-width: 41rem;
  }
}
@media (width >= 1400px) {
  .event-details-container .event-details {
    width: 41rem;
  }
}
.event-details-container .event-details .details-image {
  grid-area: image;
  background-color: var(--cool-grey-10);
  height: 13rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
@media (width >= 768px) {
  .event-details-container .event-details .details-image {
    height: 22rem;
  }
}
.event-details-container .event-details .details-info {
  grid-area: details;
  padding: 1rem;
}
.event-details-container .event-details .details-info .details-title {
  font-weight: 500;
}
@media (width >= 768px) {
  .event-details-container .event-details .details-info .details-title {
    font-size: 1.5rem;
  }
}
.event-details-container .event-details .details-info .details-date, .event-details-container .event-details .details-info .details-location {
  font-size: 0.8rem;
  color: var(--grey-70);
}
.event-details-container .event-details .details-info .details-location {
  border-bottom: 1px solid var(--grey-30);
  padding-bottom: 1rem;
}
.event-details-container .event-details .details-tickets {
  grid-area: tickets;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  border-bottom: 1px solid var(--grey-30);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.event-details-container .event-details .details-tickets .tickets-info .tickets-sold {
  font-size: 0.7rem;
  color: var(--grey-70);
}
.event-details-container .event-details .details-tickets .details-price .starts-from {
  font-size: 0.7rem;
  color: var(--grey-70);
}
.event-details-container .event-details .details-tickets .details-price .price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-100);
  margin: 0;
}
.event-details-container .event-details .details-description {
  grid-area: description;
}
.event-details-container .event-details .details-description .about {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--secondary-100);
}
.event-details-container .event-details .details-description .description {
  font-size: 0.8rem;
  color: var(--grey-90);
}

footer {
  grid-area: footer;
  padding: 0 0.5rem 0.5rem 0.5rem;
}
@media (width >= 768px) {
  footer {
    padding: 0 1rem 1rem 0;
  }
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 0.8rem;
}
footer .footer-container .copyright {
  color: var(--grey-70);
  text-align: center;
}
footer .footer-container .footer-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--grey-50);
}
footer .footer-container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--grey-50);
}

header {
  grid-area: header;
  height: 4rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
@media (width >= 768px) {
  header {
    padding: 1rem 1rem 0 0;
    height: 6rem;
  }
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--cool-grey-10);
  border-radius: 1rem;
  padding-inline: 1rem;
}
@media (width >= 768px) {
  header .header-container {
    background-color: transparent;
  }
}
header .header-container .logo {
  margin-right: auto;
}
@media (width >= 768px) {
  header .header-container .logo {
    display: none;
  }
}
header .header-container .breadcrumb-container {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header .header-container .breadcrumb-container .breadcrumb {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
header .header-container .breadcrumb-container .breadcrumb a {
  display: none;
  color: var(--primary-100);
}
header .header-container .breadcrumb-container .breadcrumb span {
  display: none;
  color: var(--grey-50);
}
header .header-container .breadcrumb-container .breadcrumb a.active {
  display: none;
  color: var(--grey-80);
}
@media (width >= 768px) {
  header .header-container .breadcrumb-container .breadcrumb a, header .header-container .breadcrumb-container .breadcrumb a.active, header .header-container .breadcrumb-container .breadcrumb span {
    display: flex;
    flex-direction: row;
  }
}
header .header-container .breadcrumb-container h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-110);
  margin: 0;
}
@media (width >= 768px) {
  header .header-container .breadcrumb-container h2 {
    font-size: 1.5rem;
    color: var(--secondary-100);
  }
}
header .header-container .more-container .fa-bars {
  display: flex;
}
@media (width >= 768px) {
  header .header-container .more-container .fa-bars {
    display: none;
  }
}
header .header-container .more-container .options {
  display: none;
  gap: 1rem;
}
header .header-container .more-container .options .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-100);
  color: var(--grey-10);
  cursor: pointer;
}
@media (width >= 768px) {
  header .header-container .more-container .options {
    display: flex;
  }
  header .header-container .more-container .options .profile-info, header .header-container .more-container .options .search-bar {
    display: none;
  }
}
@media (width >= 1400px) {
  header .header-container .more-container .options .search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    width: 18rem;
    padding: 1rem;
    background-color: transparent;
    color: var(--grey-90);
  }
  header .header-container .more-container .options .search .search-bar {
    display: flex;
    margin-right: auto;
    color: var(--grey-60);
  }
  header .header-container .more-container .options .profile {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 10rem;
    color: var(--secondary-110);
    border-radius: 0;
    background-color: transparent;
  }
  header .header-container .more-container .options .profile i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cool-grey-10);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  header .header-container .more-container .options .profile .profile-info {
    display: flex;
    flex-direction: column;
  }
  header .header-container .more-container .options .profile .profile-info .name, header .header-container .more-container .options .profile .profile-info .status {
    margin: 0;
  }
  header .header-container .more-container .options .profile .profile-info .name {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--secondary-110);
  }
  header .header-container .more-container .options .profile .profile-info .status {
    font-size: 0.8rem;
    color: var(--grey-70);
  }
}

main {
  grid-area: main;
  height: 100%;
  width: 100%;
}
main .events-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: none;
  grid-area: nav;
}
@media (width >= 768px) {
  nav {
    display: grid;
    padding: 1rem 0;
  }
}
nav .nav-container {
  background-color: var(--cool-grey-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
nav .nav-container .logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
nav .nav-container .logo-container h2 {
  display: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-110);
}
@media (width >= 1400px) {
  nav .nav-container .logo-container h2 {
    display: flex;
  }
}
nav .nav-container .nav-links {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: var(--secondary-100);
}
@media (width >= 768px) {
  nav .nav-container .nav-links {
    display: flex;
  }
}
nav .nav-container .nav-links .nav-link {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-container .nav-links .nav-link .nav-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
nav .nav-container .nav-links .nav-link .nav-text {
  display: none;
}
@media (width >= 1400px) {
  nav .nav-container .nav-links .nav-link .nav-text {
    display: flex;
  }
  nav .nav-container .nav-links .nav-link {
    justify-content: flex-start;
    padding-left: 2.25rem;
  }
}
nav .nav-container .nav-links a.active, nav .nav-container .nav-links .nav-link.active {
  color: var(--primary-100);
  font-weight: 600;
}
nav .nav-container .signout-container {
  margin-top: auto;
  cursor: pointer;
}
nav .nav-container .signout-container .signout-tablet {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-100);
  background-color: var(--cool-grey-20);
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (width >= 1400px) {
  nav .nav-container .signout-container .signout-tablet {
    display: none;
  }
}
nav .nav-container .signout-container .signout-desktop {
  display: none;
}
@media (width >= 1400px) {
  nav .nav-container .signout-container .signout-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 1rem;
    color: var(--secondary-100);
    background-color: var(--cool-grey-20);
  }
}