footer{
  grid-area: footer;
  padding: 0 .5rem .5rem .5rem;
  
  @media (width >= 768px) {
    padding: 0 1rem 1rem 0;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: .8rem;
    
    .copyright{
      color: var(--grey-70);
      text-align: center;
    }

    .footer-links{
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      color: var(--grey-50)
    }

    .socials{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: var(--grey-50)
    }
  }
}