footer{
  grid-area: footer;
  padding: 0 .5rem .5rem .5rem;
  height: 5.5rem;
  
  @media (width >= 768px) {
    padding: 0 1rem 1rem 0;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}