#verification{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .verification-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    h2{
      font-weight: 600;
    }

    .p-top{
      text-align: center;

      .email-highlight{
        color: var(--primary-100);
        font-weight: 600;
      }
    }

    .p-valid{
      color: var(--primary-100);
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
      padding: .5rem;
    }

    .p-bottom{
      margin-bottom: 2rem;
    }

    .verification-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        label{
          font-size: 0.9rem;
          color: var(--grey-80);
        }

        input{
          padding: .5rem 1rem;
          border: solid 1px var(--grey-80);
          border-radius: 1rem;
          margin-bottom: 1rem;
          width: 12rem;
        }
        
        .error{
          padding-bottom: 1rem;
        }
      }
    }

    .new-code{
      margin-top: .2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: .9rem;
      gap: 1rem;

      p{
        margin: 0;
      }

      .resend-button{
        font-size: .8rem;
      }
    }
  }
}